<h1>CLASSIFICAÇÃO COM KNN</h1>

<p style="text-align:justify;text-justify:inter-word;">Nesta seção foram  usados os dataframes criados anteriormente para a classificação com KNN. Posteriormente os resultados são mensurados pelas métricas já apresentadas no <a href="..\Teste%2001/Teste%20Bibliotecas%20Data%20Science%201.ipynb"><strong>Teste 1</strong></a>.</p>

<h2>INICIO DO EXPERIMENTO</h2>
<h3>IMPORTAÇÃO DAS BIBLIOTECAS</h3>

In [1]:
##carregando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

## importando bibliotecas scikit-learn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

%matplotlib inline

<h3>CARGA DOS DADOS</h3>
<p style="text-align:justify;text-justify:inter-word;">Carga dos dataframes com os dados previamente tratados.</p>

In [2]:
##carregando os dataframes processados
df = pd.read_csv('dermatology_completo_tratado.csv')
df_10_best = pd.read_csv('dermatology_10_best.csv')
df_clinico = pd.read_csv('dermatology_clinico.csv')
df_clinico_cut = pd.read_csv('dermatology_clinico_cut.csv')
df_clinico_pca = pd.read_csv('dermatologogy_clinico_pca.csv')
df_histopatologico = pd.read_csv('dermatology_histopatologico.csv')
df_histopatologico_cut = pd.read_csv('dermatology_histopatologico_cut.csv')
df_histopatologico_pca = pd.read_csv('dermatologogy_histopatologico_pca.csv')

<h3>DEFININDO O VALOR DE K</h3>

In [3]:
#número de vizinhos
k = 1

<h3>CLASSIFICAÇÃO COM DATAFRAME COMPLETO</h3>
<p style="text-align:justify;text-justify:inter-word;">O processo foi o mesmo utilizado no <a href="..\Teste%2001/Teste%20Bibliotecas%20Data%20Science%201.ipynb"><strong>Teste 1</strong></a>. Criou-se uma amostra de treinamento, foi feita a classificação com o classificador KNN, verificou-se a matriz de confusão (real x previsto) e, posteriormente realiza-se a </p>

In [4]:
X = np.array(df.drop('target',axis='columns'))
y = np.array(df.target)
## Vamos amostrar rapidamente um conjunto de treinamento, 
## mantendo 40% dos dados para testar (avaliar) o classificador (validação cruzada)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

## usando o classificador KNN da biblioteca SciKit-Learn
knn= KNeighborsClassifier (n_neighbors=k)

#treinando
knn.fit(X_train,y_train)

#usando o cojunto de testes para a classificação
resultado = knn.predict(X_test)

## Matriz de Confusão 
pd.crosstab(y_test,resultado,rownames=['Real'],colnames=['Previsto'],margins=True)

Previsto   1   2   3   4   5  6  All
Real
1         33   1   0   6   0  0   40
2          1  15   0   7   1  2   26
3          0   0  24   4   0  0   28
4          0   6   0  11   5  1   23
5          1   3   0   2  12  1   19
6          2   1   0   1   3  4   11
All       37  26  24  31  21  8  147

In [5]:
##Apresentando as métricas
print(metrics.classification_report(y_test,resultado))

              precision    recall  f1-score   support

           1       0.89      0.82      0.86        40
           2       0.58      0.58      0.58        26
           3       1.00      0.86      0.92        28
           4       0.35      0.48      0.41        23
           5       0.57      0.63      0.60        19
           6       0.50      0.36      0.42        11

    accuracy                           0.67       147
   macro avg       0.65      0.62      0.63       147
weighted avg       0.70      0.67      0.68       147

<h3>CLASSIFICAÇÃO COM DATAFRAME COM OS 10 MELHORES ATRIBUTOS</h3>

In [6]:
X_10_best = np.array(df_10_best.drop('target',axis='columns'))
y_10_best = np.array(df_10_best.target)
## Vamos amostrar rapidamente um conjunto de treinamento, 
## mantendo 40% dos dados para testar (avaliar) o classificador (validação cruzada)
X_train_10_best, X_test_10_best, y_train_10_best, y_test_10_best = train_test_split(X_10_best, y_10_best, test_size=0.4, random_state=0)

## usando o classificador KNN da biblioteca SciKit-Learn
knn_10_best= KNeighborsClassifier (n_neighbors=k)

#treinando
knn_10_best.fit(X_train_10_best,y_train_10_best)

#usando o cojunto de testes para a classificação
resultado_10_best = knn_10_best.predict(X_test_10_best)

## Matriz de Confusão 
pd.crosstab(y_test_10_best,resultado_10_best,rownames=['Real'],colnames=['Predito'],margins=True)

Predito   1   2   3   4   5  6  All
Real
1        32   2   0   6   0  0   40
2         1  13   0   7   3  2   26
3         0   1  23   3   1  0   28
4         0   6   0  11   5  1   23
5         1   4   0   3  11  0   19
6         2   2   0   1   2  4   11
All      36  28  23  31  22  7  147

In [7]:
##Apresentando as métricas
print(metrics.classification_report(y_test_10_best,resultado_10_best))

              precision    recall  f1-score   support

           1       0.89      0.80      0.84        40
           2       0.46      0.50      0.48        26
           3       1.00      0.82      0.90        28
           4       0.35      0.48      0.41        23
           5       0.50      0.58      0.54        19
           6       0.57      0.36      0.44        11

    accuracy                           0.64       147
   macro avg       0.63      0.59      0.60       147
weighted avg       0.68      0.64      0.65       147

<h3>CLASSIFICAÇÕES COM DATAFRAME COM OS ATRIBUTOS CLÍNICOS</h3>
<h4>TODOS ATRUBUTOS CLÍNICOS</h4>

In [8]:
X_clinico = np.array(df_clinico.drop('target',axis='columns'))
y_clinico = np.array(df_clinico.target)
## Vamos amostrar rapidamente um conjunto de treinamento, 
## mantendo 40% dos dados para testar (avaliar) o classificador (validação cruzada)
X_train_clinico, X_test_clinico, y_train_clinico, y_test_clinico = train_test_split(X_clinico, y_clinico, test_size=0.4, random_state=0)

## usando o classificador KNN da biblioteca SciKit-Learn
knn_clinico= KNeighborsClassifier (n_neighbors=k)

#treinando
knn_clinico.fit(X_train_clinico,y_train_clinico)

#usando o cojunto de testes para a classificação
resultado_clinico = knn_clinico.predict(X_test_clinico)

## Matriz de Confusão 
pd.crosstab(y_test_clinico,resultado_clinico,rownames=['Real'],colnames=['Predito'],margins=True)

Predito   1   2   3   4   5  6  All
Real
1        30   2   0   8   0  0   40
2         2  14   1   3   4  2   26
3         1   3  19   2   3  0   28
4         1   4   3  11   4  0   23
5         2   5   0   1  11  0   19
6         4   1   0   0   2  4   11
All      40  29  23  25  24  6  147

In [9]:
##Apresentando as métricas
print(metrics.classification_report(y_test_clinico,resultado_clinico))

              precision    recall  f1-score   support

           1       0.75      0.75      0.75        40
           2       0.48      0.54      0.51        26
           3       0.83      0.68      0.75        28
           4       0.44      0.48      0.46        23
           5       0.46      0.58      0.51        19
           6       0.67      0.36      0.47        11

    accuracy                           0.61       147
   macro avg       0.60      0.56      0.57       147
weighted avg       0.62      0.61      0.61       147

<h4>ATRIBUTOS CLÍNICOS COM CORTE</h4>
<p style="text-align:justify;text-justify:inter-word;">Dados cortados: family history, scaling, erythema, age.</p>

In [10]:
X_clinico_cut = np.array(df_clinico_cut.drop('target',axis='columns'))
y_clinico_cut = np.array(df_clinico_cut.target)
## Vamos amostrar rapidamente um conjunto de treinamento, 
## mantendo 40% dos dados para testar (avaliar) o classificador (validação cruzada)
X_train_clinico_cut, X_test_clinico_cut, y_train_clinico_cut, y_test_clinico_cut = train_test_split(X_clinico_cut, y_clinico_cut, test_size=0.4, random_state=0)

## usando o classificador KNN da biblioteca SciKit-Learn
knn_clinico_cut= KNeighborsClassifier (n_neighbors=k)

#treinando
knn_clinico_cut.fit(X_train_clinico_cut,y_train_clinico_cut)

#usando o cojunto de testes para a classificação
resultado_clinico_cut = knn_clinico_cut.predict(X_test_clinico_cut)

## Matriz de Confusão 
pd.crosstab(y_test_clinico_cut,resultado_clinico_cut,rownames=['Real'],colnames=['Predito'],margins=True)

Predito   1   2   3   4   5  6  All
Real
1        29   3   1   7   0  0   40
2         2  14   1   3   5  1   26
3         1   2  20   2   3  0   28
4         2   4   3  10   4  0   23
5         1   6   0   1  11  0   19
6         4   1   0   0   2  4   11
All      39  30  25  23  25  5  147

In [11]:
##Apresentando as métricas
print(metrics.classification_report(y_test_clinico_cut,resultado_clinico_cut))

              precision    recall  f1-score   support

           1       0.74      0.72      0.73        40
           2       0.47      0.54      0.50        26
           3       0.80      0.71      0.75        28
           4       0.43      0.43      0.43        23
           5       0.44      0.58      0.50        19
           6       0.80      0.36      0.50        11

    accuracy                           0.60       147
   macro avg       0.61      0.56      0.57       147
weighted avg       0.62      0.60      0.60       147

<h4>ATRIBUTOS CLÍNICOS - COMPONENTES PRINCIPAIS</h4>
<p style="text-align:justify;text-justify:inter-word;">Dados após a aplicação da PCA.</p>

In [12]:
X_clinico_pca = np.array(df_clinico_pca.drop('target',axis='columns'))
y_clinico_pca = np.array(df_clinico_pca.target)
## Vamos amostrar rapidamente um conjunto de treinamento, 
## mantendo 40% dos dados para testar (avaliar) o classificador (validação cruzada)
X_train_clinico_pca, X_test_clinico_pca, y_train_clinico_pca, y_test_clinico_pca = train_test_split(X_clinico_pca, y_clinico_pca, test_size=0.4, random_state=0)

## usando o classificador KNN da biblioteca SciKit-Learn
knn_clinico_pca= KNeighborsClassifier (n_neighbors=k)

#treinando
knn_clinico_pca.fit(X_train_clinico_pca,y_train_clinico_pca)

#usando o cojunto de testes para a classificação
resultado_clinico_pca = knn_clinico_pca.predict(X_test_clinico_pca)

## Matriz de Confusão 
pd.crosstab(y_test_clinico_pca,resultado_clinico_pca,rownames=['Real'],colnames=['Predito'],margins=True)

Predito   1   2   3   4   5  6  All
Real
1        31   2   1   6   0  0   40
2         2  14   2   2   4  2   26
3         1   3  20   2   2  0   28
4         1   4   3  11   4  0   23
5         2   5   0   1  11  0   19
6         4   1   0   0   2  4   11
All      41  29  26  22  23  6  147

In [13]:
##Apresentando as métricas
print(metrics.classification_report(y_test_clinico_pca,resultado_clinico_pca))

              precision    recall  f1-score   support

           1       0.76      0.78      0.77        40
           2       0.48      0.54      0.51        26
           3       0.77      0.71      0.74        28
           4       0.50      0.48      0.49        23
           5       0.48      0.58      0.52        19
           6       0.67      0.36      0.47        11

    accuracy                           0.62       147
   macro avg       0.61      0.57      0.58       147
weighted avg       0.63      0.62      0.62       147

<h3>CLASSIFICAÇÕES COM DATAFRAME COM OS ATRIBUTOS HISTOPATOLÓGICOS</h3>
<h4>TODOS ATRUBUTOS HISTOPATOLÓGICOS</h4>

In [14]:
X_histopatologico = np.array(df_histopatologico.drop('target',axis='columns'))
y_histopatologico = np.array(df_histopatologico.target)
## Vamos amostrar rapidamente um conjunto de treinamento, 
## mantendo 40% dos dados para testar (avaliar) o classificador (validação cruzada)
X_train_histopatologico, X_test_histopatologico, y_train_histopatologico, y_test_histopatologico = train_test_split(X_histopatologico, y_histopatologico, test_size=0.4, random_state=0)

## usando o classificador KNN da biblioteca SciKit-Learn
knn_histopatologico= KNeighborsClassifier (n_neighbors=k)

#treinando
knn_histopatologico.fit(X_train_histopatologico,y_train_histopatologico)

#usando o cojunto de testes para a classificação
resultado_histopatologico = knn_histopatologico.predict(X_test_histopatologico)

## Matriz de Confusão 
pd.crosstab(y_test_histopatologico,resultado_histopatologico,rownames=['Real'],colnames=['Predito'],margins=True)

Predito   1   2   3   4   5  6  All
Real
1        34   0   0   6   0  0   40
2         1  13   0   9   1  2   26
3         0   1  22   5   0  0   28
4         0   6   1  11   4  1   23
5         3   1   0   2  11  2   19
6         2   2   0   1   2  4   11
All      40  23  23  34  18  9  147

In [15]:
##Apresentando as métricas
print(metrics.classification_report(y_test_histopatologico,resultado_histopatologico))

              precision    recall  f1-score   support

           1       0.85      0.85      0.85        40
           2       0.57      0.50      0.53        26
           3       0.96      0.79      0.86        28
           4       0.32      0.48      0.39        23
           5       0.61      0.58      0.59        19
           6       0.44      0.36      0.40        11

    accuracy                           0.65       147
   macro avg       0.63      0.59      0.60       147
weighted avg       0.68      0.65      0.66       147

<h4>ATRIBUTOS HISTOPATOLÓGICO COM CORTE</h4>
<p style="text-align:justify;text-justify:inter-word;">Dados cortados: acanthosis,eosinophils in the infiltrate, inflammatory monoluclear inflitrate, hyperkeratosis, spongiform pustule, follicular horn plug, parakeratosis, perifollicular parakeratosis, disappearance of the granular layer</p>

In [16]:
X_histopatologico_cut = np.array(df_histopatologico_cut.drop('target',axis='columns'))
y_histopatologico_cut = np.array(df_histopatologico_cut.target)
## Vamos amostrar rapidamente um conjunto de treinamento, 
## mantendo 40% dos dados para testar (avaliar) o classificador (validação cruzada)
X_train_histopatologico_cut, X_test_histopatologico_cut, y_train_histopatologico_cut, y_test_histopatologico_cut = train_test_split(X_histopatologico_cut, y_histopatologico_cut, test_size=0.4, random_state=0)

## usando o classificador KNN da biblioteca SciKit-Learn
knn_histopatologico_cut= KNeighborsClassifier (n_neighbors=k)

#treinando
knn_histopatologico_cut.fit(X_train_histopatologico_cut,y_train_histopatologico_cut)

#usando o cojunto de testes para a classificação
resultado_histopatologico_cut = knn_histopatologico_cut.predict(X_test_histopatologico_cut)

## Matriz de Confusão 
pd.crosstab(y_test_histopatologico_cut,resultado_histopatologico_cut,rownames=['Real'],colnames=['Predito'],margins=True)

Predito   1   2   3   4   5   6  All
Real
1        33   1   0   6   0   0   40
2         0  14   0   9   1   2   26
3         0   1  23   3   0   1   28
4         0   6   0  10   4   3   23
5         2   1   0   3  11   2   19
6         2   2   0   1   2   4   11
All      37  25  23  32  18  12  147

In [17]:
##Apresentando as métricas
print(metrics.classification_report(y_test_histopatologico_cut,resultado_histopatologico_cut))

              precision    recall  f1-score   support

           1       0.89      0.82      0.86        40
           2       0.56      0.54      0.55        26
           3       1.00      0.82      0.90        28
           4       0.31      0.43      0.36        23
           5       0.61      0.58      0.59        19
           6       0.33      0.36      0.35        11

    accuracy                           0.65       147
   macro avg       0.62      0.59      0.60       147
weighted avg       0.69      0.65      0.66       147

<h4>ATRIBUTOS HISTOPATOLÓGICO - COMPONENTES PRINCIPAIS</h4>
<p style="text-align:justify;text-justify:inter-word;">Dados após a aplicação da PCA.</p>

In [18]:
X_histopatologico_pca = np.array(df_histopatologico_pca.drop('target',axis='columns'))
y_histopatologico_pca = np.array(df_histopatologico_pca.target)
## Vamos amostrar rapidamente um conjunto de treinamento, 
## mantendo 40% dos dados para testar (avaliar) o classificador (validação cruzada)
X_train_histopatologico_pca, X_test_histopatologico_pca, y_train_histopatologico_pca, y_test_histopatologico_pca = train_test_split(X_histopatologico_pca, y_histopatologico_pca, test_size=0.4, random_state=0)

## usando o classificador KNN da biblioteca SciKit-Learn
knn_histopatologico_pca = KNeighborsClassifier (n_neighbors=k)

#treinando
knn_histopatologico_pca.fit(X_train_histopatologico_pca,y_train_histopatologico_pca)

#usando o cojunto de testes para a classificação
resultado_histopatologico_pca = knn_histopatologico_pca.predict(X_test_histopatologico_pca)

## Matriz de Confusão 
pd.crosstab(y_test_histopatologico_pca, resultado_histopatologico_pca,rownames=['Real'],colnames=['Predito'],margins=True)

Predito   1   2   3   4   5  6  All
Real
1        34   0   0   6   0  0   40
2         1  13   0   9   1  2   26
3         0   0  23   5   0  0   28
4         0   6   1  11   4  1   23
5         3   1   0   2  11  2   19
6         2   2   0   1   2  4   11
All      40  22  24  34  18  9  147

In [19]:
##Apresentando as métricas
print(metrics.classification_report(y_test_histopatologico_pca,resultado_histopatologico_pca))

              precision    recall  f1-score   support

           1       0.85      0.85      0.85        40
           2       0.59      0.50      0.54        26
           3       0.96      0.82      0.88        28
           4       0.32      0.48      0.39        23
           5       0.61      0.58      0.59        19
           6       0.44      0.36      0.40        11

    accuracy                           0.65       147
   macro avg       0.63      0.60      0.61       147
weighted avg       0.68      0.65      0.66       147

<div style="color: rgb(255,255,255); background-color: rgb(150,0,0); width: 700px; height: 80px; text-align: Justify; padding: 10px;">
    <br><strong>*** NOTA:</strong> Vale observar que os resultados obtidos até o momento não foram satisfatórios na classificação de todas as patologias. 
</div>